.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto 24px;
  max-width: 50%;
  min-width: 350px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto 24px;
  max-width: 70%;
}
