
.project {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  margin-bottom: 50px;
}

/* ========== image ========== */
img {
  display: block;
  max-width: 90%;
  width: 900px;
  height: auto;
  margin: 10px auto 30px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img:hover {
  animation-duration: 2s;
  animation-name: change-shadow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes change-shadow {
  from {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 104);
  }

  to {
    box-shadow: 0px 0px 100px 20px rgb(0, 0, 104);
  }
}
