.h1,
.h2,
.h3 {
  margin-top: 0;
  max-height: 400px;
}

.a {
  color: #00aaff;
  text-decoration: none;
}
.a:hover {
  text-decoration: underline;
}

.pageTitle {
  font-size: 2.5em;
  margin: 0 0 16px;
  text-align: center;
}

.aboutImg {
  height: 300px;
  width: auto;
}

.aboutContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutGmail {
  transform: translateY(-70px);
  margin: 0;
}

/* ========== image ========== */
.img {
  display: block;
  max-width: 90%;
  width: 900px;
  height: auto;
  margin: 10px auto 30px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.img:hover {
  animation-duration: 2s;
  animation-name: change-shadow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  margin-bottom: 20px;
  transform: translateY(-20px);
}

.label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.input {
  margin-bottom: 10px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 20px;
}

.input:focus {
  border: 5px solid rgb(104, 153, 30);
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.submit {
  background-color: #000068;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(104, 153, 30);
}

.loading {
  font-size: 24px;
  font-weight: bold;
  color: #000068;
  text-align: center;
  margin-top: 50px;
  place-self: center;
}

.success {
  font-size: 24px;
  font-weight: bold;
  color: #006809;
  text-align: center;
  margin-top: 50px;
  place-self: center;
}

.error {
  font-size: 24px;
  font-weight: bold;
  color: #6f0000;
  text-align: center;
  margin-top: 50px;
  place-self: center;
}

@keyframes change-shadow {
  from {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 104);
  }

  to {
    box-shadow: 0px 0px 100px 20px rgb(0, 0, 104);
  }
}

@media (max-width: 450px) {
  .aboutImage {
    margin: 0 auto;
  }

  .logo {
    font-size: 2rem;
  }
}
